


body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ADD8E6; /* Light Blue */
  color: #000; /* Black */
  line-height: 1.6;
}

header {
  background-color: #032B44;
  color: white;
  
  text-align: center;
  
  
  justify-content: space-between;
  width: 100%;
  display: flex;
  top: 0;
  left: 0;
  padding-top: 10px;
  padding-right: 5px;
  padding-bottom: 5px;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

header nav ul li {
  margin-right: 20px;
  margin-top: 30px;
  padding-right: 120px;
  padding-left: 58px;
  padding-bottom: 20px;
  
}
a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #2d79a8;
}

/* Header Section */


/* Hero Section */

.hero {
  background-color: #1A76D2; /* Blue */
  padding: 80px 20px;
  color: #fff;
  text-align: center;
  background-image: linear-gradient(to bottom, #1A76D2, #032B44);
  padding-top: 10px;
}

.hero h1 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 10px;
}

/* Course Details */

.course-details {
  background-color: #042c44; /* Dark Blue */
  padding: 40px 20px;
  color: white;
  text-align: center;
  border-bottom: 1px solid #444;
  padding-top: 0px;
}

.course-details h2 {
  font-size: 24px;
  font-weight: 700;
  margin-top: 60px;
  margin-bottom: 20px;
  padding-top: 60px;
  
}

/* Syllabus */

.syllabus {
  background-color: #032B44; /* Dark Blue */
  padding: 40px 20px;
  color: #fff;
  text-align: center;
  border-bottom: 1px solid #444;
}

.syllabus h2 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

/* Enroll Button */

#enroll-btn {
  background-color: #1A76D2; /* Blue */
  color: #fff;
  padding: 15px 30px;
  border-style: solid;
  border-color: #032B44;
  border-width: 4px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.2s ease;
}

#enroll-btn:hover {
  background-color: #1877b3; /* Darker Blue */
}

/* Quiz Button */

#quiz-btn {
  background-color: #1A76D2; /* Blue */
  color: #fff;
  padding: 15px 30px;
  border-style: solid;
  border-color: #032B44;
  border-width: 4px;
  border-radius: 5px;
  
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.2s ease;
  margin-bottom: 20px;
}

#quiz-btn:hover {
  background-color: #1877b3; /* Darker Blue */
}

/* Quiz Container */

#quiz-container {
  text-align: center;
  
  padding-right: 70px;
}

.center {
  text-align: center;
}
#syllabus-list {
  text-align: center;
}

#syllabus-list li {
  display: block;
  margin-bottom: 20px;
}

.quiz-container {
  text-align: center;
}
#custom-alert {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #032B44; /* Dark Blue */
  border: 1px solid #1A76D2; /* Light Blue */
  padding: 20px;
  display: none;
  color: #FFFFFF; /* White text */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#custom-alert-close {
  background-color: #ADD8E6; /* Light Blue */
  color: #000000; /* Black text */
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

#custom-alert-close:hover {
  background-color: #1A76D2; /* Darker Light Blue */
  color: #FFFFFF; /* White text */
}


footer {
  background-color: #032B44;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  clear: both;
  
}
.footer-right {
  flex-basis: 40%;
}

.footer-right h3 {
  margin-bottom: 10px;
}

.footer-right ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-right li {
  margin-bottom: 10px;
}

.footer-right a {
  color: #ADD8E6;
}

.footer-right a:hover {
  color: #67a7e4;
}
/* Responsive Design */



